@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.b1, .b2, .b3, .b4 
		.service-img
			height: 400px
	.navbar-nav
		align-items: center
	.bi-mw
		min-width: 50%
	.cd-tabs
		flex-direction: column
		nav
			width: 100%
	.cd-tabs__navigation
		display: flex
		flex-wrap: wrap
		justify-content: center
	.cd-tabs__content
		padding-left: 15px
		padding-right: 15px
	footer
		.container
			max-width: 100%
		.footer-item
			padding-top: 15px
			padding-bottom: 15px
	.about-info
		padding: 15px
	.product-gallery
		padding: 15px
	.toolbar
		display: flex
		justify-content: center
		flex-wrap: wrap
		.fil-cat
			margin: 3px
// ≥768px
+media-breakpoint-down(sm)
	.carousel-item
		position: relative
		.carousel-caption
			width: 100%
			max-width: 100%
			height: 100%
			top: 0
			right: 0
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
	.price
		.container
			width: 100%
			max-width: 100%

// ≥576px
+media-breakpoint-down(xs)
	.pagination-section
		padding: 15px

	
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
