<section class="galery-job-bg">
		<div class="row">
			<div class="galery-job">
				<div class="toolbar mb2 mt2">
						<button class="btn fil-cat" href="" data-rel="all">Все</button>
						<button class="btn fil-cat" data-rel="men">Мужские прически</button>
						<button class="btn fil-cat" data-rel="gerl">Женские прически</button>
						<button class="btn fil-cat" data-rel="nogti">Маникюр</button>
				</div> 
				<div id="portfolio">
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-1.jpeg"><img src="img/rm-1.jpeg" alt=""/></a>	
					</div>
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-2.jpeg"><img src="img/rm-2.jpeg" alt=""/></a>	
					</div>
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-3.jpeg"><img src="img/rm-3.jpeg" alt=""/></a>	
					</div>
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-4.jpeg"><img src="img/rm-4.jpeg" alt=""/></a>	
					</div>
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-5.jpeg"><img src="img/rm-5.jpeg" alt=""/></a>	
					</div>
					<div class="tile scale-anm men all">
						<a data-fancybox="gallery" href="img/rm-6.jpeg"><img src="img/rm-6.jpeg" alt=""/></a>	
					</div>

					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-1.jpeg"><img src="img/rg-1.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-2.jpeg"><img src="img/rg-2.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-3.jpeg"><img src="img/rg-3.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-4.jpeg"><img src="img/rg-4.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-5.jpeg"><img src="img/rg-5.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-6.jpeg"><img src="img/rg-6.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-7.jpeg"><img src="img/rg-7.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-8.jpeg"><img src="img/rg-8.jpeg" alt=""/></a>
					</div>
					<div class="tile scale-anm gerl all">
						<a data-fancybox="gallery" href="img/rg-9.jpeg"><img src="img/rg-9.jpeg" alt=""/></a>
					</div>

					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-1.jpg"><img src="img/rn-1.jpg" alt=""/></a>
					</div>
					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-2.jpg"><img src="img/rn-2.jpg" alt=""/></a>
					</div>
					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-3.jpg"><img src="img/rn-3.jpg" alt=""/></a>
					</div>
					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-4.jpg"><img src="img/rn-4.jpg" alt=""/></a>
					</div>
					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-5.jpg"><img src="img/rn-5.jpg" alt=""/></a>
					</div>
					<div class="tile scale-anm nogti all">
						<a data-fancybox="gallery" href="img/rn-6.jpg"><img src="img/rn-6.jpg" alt=""/></a>
					</div>
				</div>
				<div style="clear:both;"></div>   
			</div>
		</div>
	</section>