<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about-info">
						<div class="about-info-heading">
							<h2>О салоне</h2>
						</div>
						<p>Салон красоты диадема расположен в центральном районе города Волгограда, в двухсот метрах от остановки технический университет. Приглашаем Вас посетить наш салон, попробовать необходимые услуги от опытных мастеров, а возможно и стать нашим постоянным клиентом. Мы следим за модными тенденциями не только в индустрии красоты, но и постигаем новые направления работы, внедряем современную технику и обучаем персонал.</p>
						<p>Двери салона диадема открыты для вас будние и выходные дни с 9:00 до 21:00 по адресу г.Волгоград, ул.Советская 28. Ждем всех!</p>
						<p>Записаться к определенному мастеру и проконсультироваться по любому интересующему вас вопросу вы всегда можете по телефону +7-917-338-17-00</p>
					</div>
				</div>
				<div class="col-lg-6 cols">
					<div class="product-gallery">
						<div class="product-image">
							<img class="active" src="img/salon1.jpeg">
						</div>
						<ul class="image-list">
							<li class="image-item"><img src="img/salon1.jpeg"></li>
							<li class="image-item"><img src="img/salon2.jpg"></li>
							<li class="image-item"><img src="img/salon3.jpg"></li>
							<li class="image-item"><img src="img/salon4.jpg"></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>