<div class="card mb-3" style="max-width: 320px;">
    <div class="row no-gutters">
      <div class="col-md-12">
      <img src="{{ post.image }}" class="card-img" title="{{ post.title }}" alt="{{ post.title }}">
      </div>
      <div class="col-md-12">
      <div class="card-body">
        <a href="{{ post.url }}"><h4 class="card-title">{{ post.title }}</h4></a>
        <p class="card-text">{{ post.content | strip_html | truncatewords: 20 }}</p>
        <a href="{{ post.url }}">
          <p class="card-text"><small class="text-muted">Читать полностью</small></p>
        </a>
      </div>
      </div>
    </div>
  </div>