<section class="news">
		<div class="news-heading">
			<h2>Новости <span>&</span> блог</h2>
			<p>Для вас мы подбираем интересные темы и составляем актуальные статьи, чтобы могли помочь вам найти полезную информацию.</p>
		</div>
		<div class="container">
			<div class="row justify-content-around">
					{% for post in paginator.posts %}
					{% include /blog-news-item.html %}
					{% endfor %}
				</div>
				{% include /pagination-first.html %}
		</div>
	</section>