<section class="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A5e9362ff8d69ea0bc95cb4fe5a75e95bebeb2958e8143140300484374c444849&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
</section>
<section class="forminfo">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <form class="needs-validation" action="mail2.php" method="POST" validate>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <input type="text" name="name" class="form-control" id="validationServer01" placeholder="Имя">
            </div>
            <div class="col-md-4 mb-3">
              <input type="text" name="email" class="form-control" id="validationServer02" placeholder="Эл. почта" required>
            </div>
            <div class="col-md-4 mb-3">
              <input type="tel" name="tel" class="form-control" id="validationServer03" placeholder="Телефон">
            </div>
          </div>
          <div class="form-group">
              <select name="select" class="custom-select" required>
                <option value="">Выберите тему письма</option>
                <option value="Отзыв">Отзыв</option>
                <option value="Предложение">Предложение</option>
                <option value="Жалоба">Жалоба</option>
              </select>
            </div>
            <div class="mb-3">
                <textarea name="message" class="form-control" id="validationTextarea" placeholder="Текс письма" required></textarea>
              </div>
          <button class="btn btn-success" type="submit">Отправить</button>
        </form>
      </div>
      <div class="col-md-5">
        <div class="info-wrap">
            <h3>Салон красоты в центре Волгограда</h3>
            <ul>
              <li><span>Адрес:</span> г.Волгоград, ул.Советская 28</li>
              <li><span>Режим работы:</span> Пн-Вс (без выходных)</li>
              <li><span>Телефон:</span> +7-917-338-17-00</li>
              <li><span>Эл.почта:</span> studiakrasotydiadema@gmail.com</li>
            </ul>
        </div>
      </div>
    </div>
  </div>

</section>