<footer>
		<div class="footer-wrap">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12 cols">
						<div class="footer-item">
							<img class="logo-f" src="img/logo.png" alt="">
							<ul>
								<li><img src="img/mp.svg" alt=""><a href="contact/"> г.Волгоград, ул.Советская 28</a></li>
								<li><img src="img/tel.svg" alt=""><a href="tel:+79173381700"> +7-917-338-17-00</a></li>
								<li><img src="img/mail.svg" alt=""><a href="mailto:studiakrasotydiadema@gmail.com"> studiakrasotydiadema@gmail.com</a></li>
								<li><img src="img/domn.svg" alt=""><a href="https://diadema34.ru"> diadema34.ru</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-5 col-sm-12 cols">
						<div class="footer-item">
							<h3>Наше меню</h3>
							<ul>
								<li><a href="service/">Услуги & цены</a></li>
								<li><a href="about/">О салоне</a></li>
								<li><a href="blog/">Блог</a></li>
								<li><a href="contact/">Контакты</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-5 col-md-12 col-sm-12 cols">
						<div class="footer-item">
							<h3>Часы работы</h3>
							<ul>
								<li><span>Понедельник - воскресенье</span>--- 9:00 - 21:00</li>
								<li><span>Мы в соц. сетях:</span>
								<a href="https://vk.com/studia_diadema"><img src="img/vk.svg" alt="Салон красоты"></a>
								<a href="https://www.instagram.com/diadema34/"><img src="img/inst.svg" alt=""></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copirating">
			<p>Copyright © 2019. Все права защищены</p>
		</div>
	</footer>
	<script type='text/javascript'>
		(function () {
			window['yandexChatWidgetCallback'] = function() {
				try {
					window.yandexChatWidget = new Ya.ChatWidget({
						guid: 'feb9eba0-de14-4aa7-bfad-381bd0c8e231',
						buttonText: 'Напишите нам, мы в сети!',
						title: 'Чат салона красоты Диадема',
						theme: 'dark',
						collapsedDesktop: 'never',
						collapsedTouch: 'always'
					});
				} catch(e) { }
			};
			var n = document.getElementsByTagName('script')[0],
							s = document.createElement('script');
			s.async = true;
			s.src = 'https://chat.s3.yandex.net/widget.js';
			n.parentNode.insertBefore(s, n);
		})();
	</script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="js/scripts.min.js"></script>
</body>
</html>