<section class="galery">
		<div class="container">
			<div class="galery-heading">
				<h2>Наши работы</h2>
			</div>
			<div class="row">
				<div class="col-xl-4 col-lg-12 cols">
					<div class="galery-block-title">
						<h3>Мужские прически</h3>
					</div>
					<div class="galery-block-img">
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rm-1.jpeg"><img src="img/rm-1.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rm-2.jpeg"><img src="img/rm-2.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rm-3.jpeg"><img src="img/rm-3.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rm-4.jpeg"><img src="img/rm-4.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-12 cols">
					<div class="galery-block-title">
						<h3>Женские прически</h3>
					</div>
					<div class="galery-block-img">
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rg-1.jpeg"><img src="img/rg-1.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rg-2.jpeg"><img src="img/rg-2.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rg-3.jpeg"><img src="img/rg-3.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rg-4.jpeg"><img src="img/rg-4.jpeg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-12 cols">
					<div class="galery-block-title">
						<h3>Маникюр</h3>
					</div>
					<div class="galery-block-img">
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rn-1.jpg"><img src="img/rn-1.jpg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rn-2.jpg"><img src="img/rn-2.jpg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rn-3.jpg"><img src="img/rn-3.jpg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
						<div class="galery-block-img-item">
							<a data-fancybox="gallery" href="img/rn-4.jpg"><img src="img/rn-4.jpg" class="img-fluid" alt="Адаптивные изображения"></a>
						</div>
					</div>
				</div>
				<div class="galery-btn">
					<a href="about/">Посмотреть еще работы</a>
				</div>
			</div>
		</div>
	</section>