<div class="card">
    <a href="{{ post.url }}">
      <img src="{{ post.image }}" class="card-img-top" title="{{ post.title }}" alt="{{ post.title }}">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content | strip_html | truncatewords: 12 }}</p>
      </div>
    </a>
  </div>