<section class="best">
		<div class="container">
			<div class="row">
				<div class="best-heading">
					<h2>Наши преимущества</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="best-item">
							<img src="img/best-1.png" class="img-fluid" alt="Адаптивные изображения">
							<p>Наши сотрудники являются дипломированными специалистами, прошедшими жесткий отбор.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="best-item">
							<img src="img/best-2.png" class="img-fluid" alt="Адаптивные изображения">
							<p>Доброжелательность, внимательное отношение к каждому клиенту и высокий уровень профессионализма.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="best-item">
							<img src="img/best-3.png" class="img-fluid" alt="Адаптивные изображения">
							<p>Мы используем только профессиональные и высокоэффективные продукты.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="best-item">
							<img src="img/best-4.png" class="img-fluid" alt="Адаптивные изображения">
							<p>Удобное расположение нашей студии в Центральном районе, г. Волгограда.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>