<section class="block-info">
  <div class="row">
    <div class="col-md-6 bi-mw">
      <div class="akcii">
        <div class="akcii-wrap">
          <div class="akcii-wrap-heading">
            <h3>Акции</h3>
          </div>
          <ul>
            <li><img src="" alt="">Каждая 6-я стрижка бесплатно! (или маникюр в подарок)</li>
            <hr>
            <li><img src="" alt="">Всем именинникам — СКИДКА 10%</li>
          </ul>
        </div>
        <!-- <div class="akcii-btn">
          <a href="#">Все акции</a>
        </div> -->
      </div>
    </div>
    <div class="col-md-6 bi-mw">
      <div class="top-contact">
        <div class="top-contact-wrap">
          <div class="top-contact-wrap-heading">
            <h3>Режим работы</h3>
          </div>
          <ul>
            <li><span>Рабочие дни:</span> ПН-ВС</li>
            <li><span>Время работы:</span> 9:00 - 21:00</li>
            <li><span>Адрес:</span> г.Волгоград, Ул.Советская 28</li>
            <li><span>Наш телефон:</span> +7-917-338-17-00</li>
          </ul>
        </div>
        <!-- <div class="top-contact-btn">
          <a href="#">Заказать звонок</a>
        </div> -->
      </div>
    </div>
  </div>
</section>