<section class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="about-info">
						<div class="about-info-heading">
							<h2>О салоне</h2>
						</div>
						<p>Салон красоты диадема расположен в центральном районе города Волгограда, в двухсот метрах от остановки технический университет. Приглашаем Вас посетить наш салон, попробовать необходимые услуги от опытных мастеров, а возможно и стать нашим постоянным клиентом. Мы следим за модными тенденциями не только в индустрии красоты, но и постигаем новые направления работы, внедряем современную технику и обучаем персонал.</p>
						<p>Двери салона диадема открыты для вас будние и выходные дни с 9:00 до 21:00 по адресу г.Волгоград, ул.Советская 28. Ждем всех!</p>
						<p>Записаться к определенному мастеру и проконсультироваться по любому интересующему вас вопросу вы всегда можете по телефону +7-917-338-17-00</p>
						<div class="about-info-btn">
							<a href="about/">Подробнее</a>
						</div>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="about-img"> </div>
				</div>
			</div>
		</div>
	</section>