<section class="call">
		<div class="container-fluid">
			<div class="row">
				<div class="call-heading">
					<h2>Нужна консультация мастера?</h2>
					<p>Оставьте свой номер телефона и мы свяжемся с вами</p>
				</div>
				<form class="form-inline" action="mail.php" method="POST">
					<div class="form-group mx-sm-3 mb-2">
						<label for="inputPassword2" class="sr-only">+7(927)-888-88-88</label>
						<input type="tel" name="tel" class="form-control" id="inputPassword2" placeholder="+7(927)-888-88-88" required>
						<button type="submit" class="btn btn-success ">Отправить</button>
					</div>
					<p>Нажимая на кнопку отправить, вы соглашаетесь на обработку ваших персональных данных в соответствии с нашей политикой конфиденциальности</p>
				</form>
			</div>
		</div>
	</section>