<section class="blog">
		<div class="container">
			<div class="blog-heading">
				<h2>Блог</h2>
			</div>
			<div class="row">
				<div class="card-deck">
						{% for post in site.categories.news limit: 3 offset: 0 %}
						{% include /home-block-blog-item.html %}
						{% endfor %}
				</div>
			</div>
			<div class="blog-btn">
				<a href="blog/">Хочу еще статей</a>
			</div>
		</div>
</section>