<section class="top-slider">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/slide-1.jpg" class="d-block w-100 over" alt="...">
          <div class="carousel-caption">
            <h1><span>Современная</span> модная прическа</h1>
            <p>Салон красоты <span>диадема</span> предлагаем вам посетить наших мастеров парикмахерского искусства. Забота и уход за волосами является неотъемлемой составляющей работы над собой, дающей возможность заложить основополагающую базу вашего образа.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="img/slide-2.jpg" class="d-block w-100 over" alt="...">
          <div class="carousel-caption">
            <h2><span>Ваши руки</span> достойны лучшего!</h2>
            <p>Большой город диктует свои правила – его жительницы в любой ситуации должны быть красивыми и ухоженными от макушки до кончиков пальцев. В нашей студии <span>диадема</span> Вы сможете получить весь комплекс необходимых услуг. Доверьте Ваш стиль и красоту профессионалам!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>