<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="img/logo.png" height="100%" title="{{ site.title }}" alt="{{ site.title }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="service">Услуги & цены</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">О салоне</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">Блог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Контакты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>