<section class="service b1">
		<div class="row">
			<div class="col-lg-5 col-sm-12 cols">
				<div class="service-img">

				</div>
			</div>
			<div class="col-lg-7 col-sm-12 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Мужской зал</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Стрижка насадками</td>
													<th scope="row">400руб</th>
												</tr>
												<tr>
													<td>Стрижка классика</td>
													<th scope="row">500руб</th>
												</tr>
												<tr>
													<td>Стрижка креативная</td>
													<th scope="row">600руб</th>
												</tr>
												<tr>
													<td>Оформление бороды</td>
													<th scope="row">300-600руб</th>
												</tr>
												<tr>
													<td>Камуфляж бороды</td>
													<th scope="row">500руб</th>
												</tr>
												<tr>
													<td>Стрижка детская(до 7 лет)</td>
													<th scope="row">350-500руб</th>
												</tr>
										</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b2">
		<div class="row">
			<div class="col-lg-5 col-sm-12 order-lg-7 cols">
				<div class="service-img">

				</div>
			</div>
			<div class="col-lg-7 col-sm-12 order-lg-5 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Женский зал</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Стрижка короткие</td>
													<th scope="row">650руб</th>
												</tr>
												<tr>
													<td>Стрижка средние</td>
													<th scope="row">650руб</th>
												</tr>
												<tr>
													<td>Стрижка длинные</td>
													<th scope="row">700руб</th>
												</tr>
												<tr>
													<td>Полировка волос</td>
													<th scope="row">700руб</th>
												</tr>
												<tr>
													<td>Коррекция челки</td>
													<th scope="row">250руб</th>
												</tr>
												<tr>
														<td>Мелирование волос(Зависит от длины и выбора красителя)</td>
														<th scope="row">1000-2500руб</th>
													</tr>
										</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b3">
		<div class="row">
			<div class="col-lg-5 col-sm-12 cols">
				<div class="service-img">
				</div>
			</div>
			<div class="col-lg-7 col-sm-12 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Окрашивание волос</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Окрашивание волос ( в один тон)</td>
												</tr>
												<tr>
													<td>Короткие волосы</td>
													<th scope="row">1000-1500руб</th>
												</tr>
												<tr>
													<td>Средняя длина волос</td>
													<th scope="row">1500-2000руб</th>
												</tr>
												<tr>
													<td>Длинные волосы(Зависит от длины и выбора красителя)</td>
													<th scope="row">от 2000руб</th>
												</tr>
											</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b4">
		<div class="row">
			<div class="col-lg-5 col-sm-12 order-lg-7 cols">
				<div class="service-img">
				</div>
			</div>
			<div class="col-lg-7 col-sm-12 order-lg-5 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Тонирование волос</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Тонирование волос(Зависит от выбора красителя и длины волос)</td>
													<th scope="row">800-2000руб</th>
												</tr>
												<tr>
													<td>Экспресс тонирование с маской</td>
													<th scope="row">400-600руб</th>
												</tr>
												<tr>
													<td>Смывка волос(стоимость зависит от длины волос и выбора красителя)</td>
													<th scope="row">от 1000руб</th>
												</tr>
											</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b5">
		<div class="row">
			<div class="col-lg-5 col-sm-12 cols">
				<div class="service-img">
				</div>
			</div>
			<div class="col-lg-7 col-sm-12 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Маникюр</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Маникюр(мужской)</td>
													<th scope="row">500-600руб</th>
												</tr>
												<tr>
													<td>Маникюр(женский)</td>
													<th scope="row">400-450руб</th>
												</tr>
											</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b6">
		<div class="row">
			<div class="col-lg-5 col-sm-12 order-lg-7 cols">
				<div class="service-img">
				</div>
			</div>
			<div class="col-lg-7 col-sm-12 order-lg-5 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Педикюр</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Педикюр аппаратный(мужской)</td>
													<th scope="row">1200-1300руб</th>
												</tr>
												<tr>
													<td>Классический педикюр(мужской)</td>
													<th scope="row">800-1000руб</th>
												</tr>
												<tr>
													<td>Педикюр аппаратный(женский)</td>
													<th scope="row">1000-1100руб</th>
												</tr>
												<tr>
													<td>Классический педикюр(женский)</td>
													<th scope="row">800руб</th>
												</tr>
											</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="service b7">
		<div class="row">
			<div class="col-lg-5 col-sm-12 cols">
				<div class="service-img">
				</div>
			</div>
			<div class="col-lg-7 col-sm-12 cols">
				<div class="row">
					<div class="service-item">
						<div class="service-item-heading">
							<h2>Наращивание</h2>
						</div>
						<div class="table-responsive">
								<table class="table table-hover">
										<tbody>
												<tr>
													<td>Наращивание + гель-лак</td>
													<th scope="row">1500руб</th>
												</tr>
												<tr>
													<td>Коррекция наращивания</td>
													<th scope="row">1000-1100руб</th>
												</tr>
												<tr>
													<td>Снятие + маникюр + гель-лак лак</td>
													<th scope="row">1000-1100руб</th>
												</tr>
												<tr>
													<td>Покрытие гель-лаком + укрепление</td>
													<th scope="row">700руб</th>
												</tr>
												<tr>
													<td>Снятие</td>
													<th scope="row">200руб</th>
												</tr>
											</tbody>
								</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>