{% include /category-header.html %}

{% include /nav-top.html %}

<section class="service-title">
    <h1>О нас</h1>
</section>

{% include /about-block-about.html %}

{% include /about-galery.html %}

{% include /footer.html %}