{% include /post-header.html %}

{% include /nav-top.html %}

<section class="service-title">
  <h1>{{ page.title }}</h1>
</section>

<section class="news-detail">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="news-detail-img">
						<img src="{{ page.image }}" class="img-fluid" title="{{ page.title }}" alt="{{ page.title }}">
					</div>
					<div class="news-detail-content">
            {{ content }}
					</div>
				</div>
				<div class="col-md-4">
					<div class="right-menu">
						<div class="right-menu-contact">
							<h3>Контакты</h3>
							<ul>
								<li><span>Адрес:</span> г.Волгоград, ул.Советская 28</li>
								<li><span>Режим работы:</span> Пн-Вс (без выходных)</li>
								<li><span>Телефон:</span> +7-917-338-17-00</li>
								<li><span>Эл.почта:</span> studiakrasotydiadema@gmail.com</li>
							</ul>
						</div>
						<div class="right-menu-nav">
							<h3>Обязательно нужно посмотреть</h3>
							<ul>
								<li><a href="/">Главная страница</a></li>
								<li><a href="about/">Информация о нас</a></li>
								<li><a href="about/">Наши работы (прически, маникюр)</a></li>
								<li><a href="contact/">Где нас найти</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% include /footer.html %}