@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold
li
	list-style: none
	
//navigation

.bg-dark
	background-color: #2b2a28!important
.navbar
	.navbar-brand
		height: 60px
	.navbar-nav
		width: 100%
		display: flex
		justify-content: flex-end
		.nav-link
			text-transform: uppercase
// slider
.carousel-caption
	max-width: 500px
	top: 20%
	bottom: auto
	right: 10%
	left: auto
	text-align: right
	padding: 30px
	background: rgba(0, 0, 0, 0.5)
	border-radius: 7px
	float: right
	h2, h1
		font-size: 35px
		span
			color: $accent
	p
		max-width: 450px
		float: right
		font-size: 14px
		span
			color: $accent
.block-info
	width: 100%
	.row
		width: 100%
		display: flex
		margin: 0
		justify-content: center
	.col-md-6
		padding: 0
	.bi-mw
		max-width: 500px
.akcii
	background: url(../img/akcii.png) no-repeat
	background-size: cover
	color: #fff
	height: 270px
	display: flex
	flex-direction: column
	&-wrap
		padding: 30px
		&-heading
			display: flex
			justify-content: center
			padding-bottom: 30px
			h3
				text-transform: uppercase
				margin: 0
				font-size: 25px
		hr
			border-color: #fff
			width: 300px
	&-btn
		border-top: 1px solid #fff
		padding: 15px 15px
		display: flex
		justify-content: center
		margin-top: auto
		a
			color: #fff
			font-size: 25px
.top-contact
	height: 270px
	background: url(../img/top-contact.png) no-repeat
	background-size: cover
	color: #fff
	display: flex
	flex-direction: column
	&-wrap
		padding: 30px
		&-heading
			display: flex
			justify-content: center
			padding-bottom: 30px
			h3
				text-transform: uppercase
				font-size: 25px
				margin: 0
		li
			list-style: none
			line-height: 30px
			span
				color: $accent
	&-btn
		margin-top: auto
		border-top: 1px solid #fff
		padding: 15px 15px
		display: flex
		justify-content: center
		a
			font-size: 25px
			color: #fff

// блок о салоне
.about
	&-img
		width: 100%
		height: 100%
		background: url(../img/about.png) no-repeat center
		background-size: contain
	&-info
		padding: 30px
		&-heading
			display: flex
			justify-content: center
			h2
				text-transform: uppercase
				font-size: 25px
		p
			text-indent: 2em
		&-btn
			width: 100%
			height: 100%
			display: flex
			justify-content: center
			a
				padding: 7px 20px 7px 20px
				background-color: $accent
				border-radius: 7px
				color: #fff
				&:hover
					background-color: $accent-lite
					text-decoration: none
// блок преимуществ
.best
	width: 100%
	background-size: cover
	background: url(../img/bg2.jpg) no-repeat 20% 50%
	color: #fff
	.row
		width: 100%
		padding: 15px
		margin: 0
	&-heading
		width: 100%
		display: flex
		align-items: center
		flex-direction: column
		h2
			text-transform: uppercase
			font-size: 25px
			padding: 15px
			margin: 0
	&-item
		min-width: 200px
		text-align: center
		img
			padding-bottom: 15px

// блок цена
.price
	&-heading
		width: 100%
		display: flex
		justify-content: center
		padding-top: 30px
		h2
			font-size: 25px
			text-transform: uppercase
			margin: 0
			span
				color: $accent
.cd-tabs
	position: relative
	width: 100%
	display: flex
	&::after
		content: ""
		position: absolute
		top: 0
		right: 0
		height: 60px
		width: 50px
		z-index: 1
		pointer-events: none
		visibility: visible
		opacity: 1
		transition: opacity .3s 0s, visibility 0s 0s
	&.cd-tabs--scroll-ended::after
		visibility: hidden
		opacity: 0
		transition: opacity .3s 0s, visibility 0s .3s
	nav
		width: 300px
		position: relative
.cd-tabs__navigation
	min-width: 330px
	padding: 30px
	margin-bottom: 0
	&:after
		content: ""
		display: table
		clear: both
	li
		display: block
		position: relative
		z-index: 2
	a
		position: relative
		z-index: 1
		display: block
		height: 60px
		width: auto
		text-align: left
		font-size: 1.2rem
		font-weight: 600
		color: $text-muted
		padding: 0 15px 0 15px
		line-height: 60px
		&:hover
			color: #29324e
			background-color: $accent-lite
			text-decoration: none
		&.cd-selected
			background-color: #ffffff !important
			box-shadow: inset 3px 0 0 $accent
			color: #29324e
		&::before
			content: ""
			position: absolute
			top: 50%
			left: 40px
			margin-top: -8px
			margin-left: 0
			display: inline-block
			height: 16px
			width: 16px
.cd-tabs__content
	width: 100%
	background: #ffffff
	margin: 0
	li
		display: none
		padding: 1.4em
		&.cd-selected
			width: 100%!important
			display: block
			animation: cd-fade-in 0.5s
		tbody
			tr
				display: flex
				justify-content: space-between
				border-bottom: 1px solid #ccc
				td, th
					border: none

@-webkit-keyframes cd-fade-in
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes cd-fade-in
  0%
    opacity: 0
  100%
    opacity: 1

// блок обратный звонок
.call
	width: 100%
	background-size: cover
	background: url(../img/bg7.jpg) no-repeat 20% 50%
	color: #fff
	.row
		width: 100%
		padding: 15px
		margin: 0
	&-heading
		width: 100%
		display: flex
		align-items: center
		flex-direction: column
		h2
			font-size: 25px
			padding: 15px 15px 10px 15px
			margin: 0
	.form-inline
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		p
			width: 300px
			font-size: 11px
// блок наши работы
.galery
	padding-top: 15px
	padding-bottom: 30px
	.cols
		justify-content: center
		display: flex
		flex-direction: column
		align-items: center
	&-heading, &-block-title
		display: flex
		justify-content: center
		width: 100%
		padding: 15px 15px
		h2, h3
			margin: 0
			text-transform: uppercase
			font-size: 25px
		h3
			text-transform: capitalize
	&-block-img
		display: flex
		flex-wrap: wrap
		justify-content: center
		width: 320px
		&-item
			position: relative
			z-index: 6
			width: 160px
			margin: 0
			img
				position: relative
				z-index: 5
	&-btn
		width: 100%
		display: flex
		justify-content: center
		border-bottom: 2px solid $accent
		padding-top: 30px
		padding-bottom: 30px
		a
			background-color: $accent
			padding: 10px 15px 10px 15px
			border-radius: 5px
			color: #ffffff
			text-transform: uppercase
			&:hover
				background-color: $accent-lite
				text-decoration: none

// блог

.blog
	padding-top: 15px
	padding-bottom: 15px
	&-btn
		display: flex
		justify-content: center
		width: 100%
		padding-top: 15px
		a
			color: $accent
			text-transform: uppercase

	&-heading
		display: flex
		justify-content: center
		padding-bottom: 15px
		h2
			text-transform: uppercase
			font-size: 25px
			margin: 0
	.row
		padding: 15px 15px
.card-deck
	display: flex
	justify-content: center
	width: 100%
.card
	min-width: 250px
	max-width: 250px
	margin: 15px 15px
	a
		color: $text
		&:hover
			text-decoration: none
			.card-body
				background: $accent
				color: #fff
		img
			width: 250px
// footer
footer
	background: url(../img/bgf.jpg) no-repeat
	background-size: cover
	position: relative
	z-index: 5
	&::before
		content: ""
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: 6
		background-color: rgba(0,0,0,0.4)
	.row
		position: relative
		z-index: 7
		height: 100%
		.cols
			display: flex
			justify-content: center
			align-items: center
.footer-item
	display: flex
	justify-content: center
	flex-direction: column
	align-items: center
	padding: 30px 30px
	.logo-f
		width: 150px
	ul
		padding-left: 0
	li
		display: flex
		align-items: center
		color: #ffffff
		padding-bottom: 15px
		img
			padding-right: 15px
			width: 40px
		a
			color: #ffffff
			&:hover
				color: $accent
				text-decoration: none
		span
			padding-right: 15px
	h3
		color: #ffffff
		font-size: 25px
		padding-bottom: 15px
.copirating
	width: 100%
	background-color: rgba(0,0,0,0.4)
	display: flex
	justify-content: center
	align-items: center
	padding: 15px 15px
	p
		margin: 0
		color: #cccccc

//страница услуги и цены
.service-title
	background-size: cover
	background: url(../img/bg2.jpg) no-repeat 50% 55%
	height: 200px
	position: relative
	z-index: 5
	display: flex
	justify-content: center
	align-items: center
	&::before
		content: ""
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		z-index: 6
		background-color: rgba(0,0,0,0.4)
	h1
		position: relative
		z-index: 6
		color: #ffffff
		margin: 0
		text-transform: uppercase
		span
			color: $accent
.b1
	.service-img
		background-size: cover
		background: url(../img/b1.jpg) no-repeat 50% 45%
		width: 100%
		height: 100%
		min-height: 400px
.b2 
	.service-img
		background-size: cover
		background: url(../img/b2.jpeg) no-repeat 86% 13%
		width: 100%
		height: 100%
		min-height: 400px
.b3 
	.service-img
		background-size: cover
		background: url(../img/b3.jpg) no-repeat 30% 50%
		width: 100%
		height: 100%
		min-height: 400px
.b4 
	.service-img
		background-size: cover
		background: url(../img/b4.jpeg) no-repeat 90% 50%
		width: 100%
		height: 100%
		min-height: 400px
.b5
	.service-img
		background-size: cover
		background: url(../img/b5.jpg) no-repeat 50% 40%
		width: 100%
		height: 100%
		min-height: 400px
.b6 
	.service-img
		background-size: cover
		background: url(../img/b6.jpg) no-repeat 50% 20%
		width: 100%
		height: 100%
		min-height: 400px
.b7 
	.service-img
		background-size: cover
		background: url(../img/b7.jpg) no-repeat 10% 40%
		width: 100%
		height: 100%
		min-height: 400px

.service
	&-item
		display: flex
		width: 100%
		flex-direction: column
		justify-content: center
		align-items: center
		padding: 30px
		tbody
			display: flex
			flex-direction: column
			align-items: center
			tr
				display: flex
				justify-content: space-between
				border-bottom: 1px solid #ccc
				padding-right: 15px
				width: 85%
				td, th
					border: none

// страница о нас
.about
	.cols
		display: flex
		justify-content: center
.product-gallery
	padding: 30px
	width: 100%
	max-width: 500px
	height: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	.product-image img, .image-list img
		width: 100%
	.product-image
		display: block
		img
			height: 100%
			&.active
				display: block
				margin: 0 0 15px 0
	.image-list
		display: flex
		width: 100%
		justify-content: space-between
		padding: 10px
	.image-item, li
		display: flex
		flex-direction: column
		width: 100%
		justify-content: space-between
		img
			height: 100%
			width: 100%
			transition: opacity 0.3s ease
			cursor: pointer
			&:hover 
				opacity: 0.7

// страница galery
.galery-job-bg
	background-color: #f5f5dc75
.galery-job .btn:hover
	background-color: $accent
	color: #ffffff
	border: 1px solid #000000
.galery-job
	width: 100%
	padding: 30px
	display: flex
	flex-direction: column
	align-items: center
	#portfolio
		margin: 1rem 0
		display: flex
		flex-wrap: wrap
		max-width: 930px
		justify-content: center
	.tile
		width: 300px
		padding-right: 15px
		transform: scale(0)
		transition: all 350ms ease
	.scale-anm
		transform: scale(1)
	p
		padding: 10px
		border-bottom: 1px #ccc dotted
		text-decoration: none
		text-transform: uppercase
		font-size: 12px
		color: #333
		display: block
		float: left
		&:hover
			cursor: pointer
			background: #333
			color: #eee
	.tile img
		max-width: 100%
		width: 100%
		height: auto
		margin-bottom: 1rem
	.btn
		font-size: 1rem
		font-weight: normal
		text-decoration: none
		cursor: pointer
		display: inline-block
		line-height: normal
		padding: .5rem 1rem
		margin: 0
		height: auto
		border: 1px solid
		vertical-align: middle
		color: #555
		background-color: rgba(0, 0, 0, 0)
		&:hover
			text-decoration: none
		&:focus
			outline: none
			border-color: var(--darken-2)
			box-shadow: 0 0 0 3px var(--darken-3)
// блог
.news
	padding: 15px
	&-heading
		display: flex
		flex-direction: column
		align-items: center
		h2
			text-transform: uppercase
			margin: 0
			font-size: 25px
			span
				color: $accent

// блог страница подробнее
.news-detail
	padding: 15px
	color: $text
	text-indent: 2em
	h3
		padding-top: 10px
		padding-bottom: 10px
	&-img
		text-indent: 0
		width: 100%
		padding-top: 15px
		padding-bottom: 15px
		img
			width: 100%
	&-content
		img
			padding-top: 15px
			padding-bottom: 15px
		li
			list-style-type: disc
			padding: 5px 5px 
.plan
	padding: 15px
	background-color: rgba(0,0,0, 0.1)
	li
		list-style-type: upper-roman
		a
			color: $text
			&:hover
				color: $accent
	h3
		text-indent: 2em
.sub
	background-color: rgba(0,0,0, 0.1)
	padding: 15px
	border-left: 5px solid $accent
	border-bottom: 2px solid $accent
.right-menu
	margin-top: 15px
	margin-bottom: 15px
	border: 1px solid $text
	box-shadow: 2px 2px 20px 1px #0000006b
	border-radius: 3px
	&-contact,
	&-nav
		display: flex
		flex-direction: column
		align-items: center
		padding: 15px
		border-bottom: 2px solid #0000006b
		a
			color: $text
			&:hover
				color: $accent
		h3
			padding: 0 0 10px 0
			margin: 0
			text-indent: 0
			font-size: 20px
			text-transform: uppercase
			text-align: center
		ul
			padding-left: 0
			text-indent: 0
			li
				border-bottom: 1px solid #cccccc
				span
					color: $accent
	&-nav
		border: none
// контакты
.forminfo,
.needs-validation,
.info-wrap
	padding-top: 15px
	padding-bottom: 15px
.info-wrap
	h3
		font-size: 23px
		text-align: center
		font-weight: 600
	ul
		padding-left: 10px
		span
			color: $accent

// pagination

.pagination-section
	display: flex
	flex-wrap: wrap
	justify-content: center
	align-items: center
	text-align: center
	flex-direction: column
	padding: 15px
.pagination-section-first
  display: flex
  flex-wrap: wrap
  justify-content: center
  .button
    width: 200px
    border: solid 1px $accent
    background-color: $accent
    text-align: center
    padding: 10px 10px 10px 10px
    color: #fff
    text-decoration: none
    font-size: 16px
    font-weight: 500
    border-radius: 15px
    margin-left: 30px
    margin-top: 15px
  .next
    i
      padding-left: 10px
      display: flex
      align-items: center
  .prev
    i
      padding-right: 10px
      display: flex
      align-items: center
    &:hover
      transition: all 0.3s
      background-color: rgba(236, 95, 76, 0.65)
      border: solid 1px
.pagination
  padding-top: 15px
  font-size: 22px
  font-weight: 600
  margin-left: 30px
  a
    color: $accent
    text-decoration: none
    cursor: pointer


@import "media" // Always at the end
